<nb-card>
    <nb-list>
        <nb-list-item *ngFor="let c of model?.data.results" [routerLink]="['/characters-details', c.id]">
            <img [src]="c.thumbnail | marvelImage : 'standard_small'">
            <p>{{c.name}}</p>
        </nb-list-item>
    </nb-list>
</nb-card>
