<div style="display:flex">
    <nb-card>
        <nb-list>
            <nb-list-item *ngFor="let c of model">
                {{ c.Name }}
            </nb-list-item>
        </nb-list>
    </nb-card>
    <div>
        <app-category-add></app-category-add>
    </div>
</div>
